<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
    <h1>Выберите способ авторизации:</h1>
    <ul>
        <li><a href="/login?type=github">GitHub</a></li>
        <li><a href="/login?type=yandex">Яндекс ID</a></li>
        <li><a href="/login?type=code">Через код</a></li>
    </ul>
    <h1>Выберите что хотите посмотреть:</h1>  
    <ul>  
        <li><a href="/testapi/disciplins/">Список дисциплин</a></li>
        <li><a href="/testari/users/">Список пользователей</a></li>
    </ul>
</body>
</html>
